<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete a blog post!</title>
  </head>
  <body>
    <main>
        <form action="/delete/<%= postIndex %>" method="post">
            <button type="submit">Click here to delete the blog post you selected!</button>
        </form>
    </main>
    <script src="app.js"></script>
  </body>
</html>